<div ng-controller="dashboardController" class="td_container td_margin_from_header">
	<div class="page-section">
    <div class="wrapper">
		  <h1 class="headline headline--center">welcome to Customer Dashborad</h1>

      <div class="profile-section">
        <a href="#!myorder">
          <div class="profile-section-item">
            <h4 class="profile-section-item__title">My Orders</h4>
            <p class="profile-section-item__description">here you can update your profile</p>
          </div>
        </a>

        <a href="#!myprofile">
          <div class="profile-section-item">
            <h4 class="profile-section-item__title">My Profile</h4>
            <p class="profile-section-item__description">here you can update your profile</p>
          </div>
        </a>

        <a href="">
          <div class="profile-section-item">
            <h4 class="profile-section-item__title">My AddressBook</h4>
            <p class="profile-section-item__description">here you can update your profile</p>
          </div>
        </a>

        <a href="">
          <div class="profile-section-item">
            <h4 class="profile-section-item__title">My Wishlist</h4>
            <p class="profile-section-item__description">here you can update your profile</p>
          </div>
        </a>
      </div>
    </div>
	</div>
</div>	
	
  