<footer id="footer"><!--Footer-->


  <div class="footer-widget">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>Office Essentials</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/officeEsential/letterheades.html">LetterHeads</a></li>
              <li><a href="/officeEsential/buisness.html">Bussiness Cards</a></li>
              <li><a href="/officeEsential/Brochures.html">Brochures</a></li>
              <li><a href="/officeEsential/Envelopes.html">Envelopes</a></li> 
              <li><a href="/officeEsential/Receipt-books.html">Receipt Books</a></li>
              <li><a href="/officeEsential/multi-color.html">Multi color Files</a></li>  
              <li><a href="/officeEsential/folder.html">Folders</a></li>
              <li><a href="/officeEsential/icard.html">I-Cards</a></li> 
            </ul>
          </div>
        </div>
        
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>Marketing Essentials</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/marketingEssential/posters.html">Posters</a></li>
              <li><a href="/marketingEssential/MultiColor-pamphlets.html">MultiColor pamphlets</a></li> 
              <li><a href="/marketingEssential/Leaflets.html">Leaflets</a></li> 
              <li><a href="/marketingEssential/mbrochures.html">Brochures</a></li> 
              <li><a href="/marketingEssential/Glow-shine-Boards.html">Glow shine Boards</a></li> 
            </ul>
          </div>
        </div>
       
        <div class="col-sm-2">
          <div class="single-widget">
            <h2>Customized Products</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/customized-products/t-shirt.html">T-Shirt</a></li>
              <li><a href="/customized-products/cups.html">Cups</a></li> 
              <li><a href="/customized-products/bags.html">Bags</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="single-widget">
            <h2>Hospital/Doctors Essentials </h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/hospital-doctors/Prescription-pads.html">Prescription pads</a></li>
              <li><a href="/hospital-doctors/Business-Cards.html">Business Cards</a></li> 
              <li><a href="/hospital-doctors/Folders-files.html">Folders/files</a></li> 
              <li><a href="/hospital-doctors/pamphlets.html">pamphlets </a></li> 
              <li><a href="/hospital-doctors/Referral-Pads.html">Referral Pads</li>
              <li><a href="/hospital-doctors/Envelopes.html">Envelopes</a></li> 
              <li><a href="/hospital-doctors/Brochures.html">Brochures</a></li>
              <li><a href="/hospital-doctors/opd.html">OPD Registers</a></li>
            </ul>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="single-widget">
            <h2>College Projects</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/college/thesis.html">Thesis</a></li>
              <li><a href="/college/minor.html">Major/Minor Projects</a></li> 
            </ul>
          </div>
        </div>


        <div class="col-sm-2">
          <div class="footer-social">
            <ul>
              <li class="wow animated zoomIn"><a href="https://www.facebook.com/printkaari/" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>

              <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#"><i class="fa fa-skype fa-3x"></i></a></li>

              <li class="wow animated zoomIn" data-wow-delay="1.2s"><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
            </ul>
          </div>
        </div>
  
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <p class="text-center">Copyright © 2016 PRINTKAARI Inc. All rights reserved.</p>
      </div>
    </div>
  </div>

</footer>
