<div class="td_container td_margin_from_header">
	<div class="page-section">
		<div class="wrapper">
			<h1 class="headline headline--center">My Profile</h1>

			<div class="info info--t-margin-at-medium">
				<div class="wrapper wrapper--small">
					
					<div class="info__element">
						<div class="info__property"> Name </div>
						<div class="info__value">: 
						{{myProfile.customerDetail.firstName}} 
						{{myProfile.customerDetail.lastName}} 

						
						</div>
					</div>
					<div class="info__element">
						<div class="info__property"> Email Address </div>
						<div class="info__value">: {{myProfile.customerDetail.email}} </div>
					</div>
					<div class="info__element">
						<div class="info__property"> Contact Number </div>
						<div class="info__value">: {{myProfile.customerDetail.contactNumber}} </div>
					</div>
					<div class="info__element">
						<div class="info__property"> Alternate Number </div>
						<div class="info__value">: {{myProfile.customerDetail.altContactNumber}} </div>
					</div>
					<div class="info__element">
						<div class="info__property"> Address </div>
						<div class="info__value">: 
							{{myProfile.customerDetail.address.houseNo}} <br/> 
							&nbsp;&nbsp;{{myProfile.customerDetail.address.area}} <br/> 
							&nbsp;&nbsp;{{myProfile.customerDetail.address.landMark}} <br/> 
							&nbsp;&nbsp;{{myProfile.customerDetail.address.pinCode}} <br/> 

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>