<div class="container" ng-controller="">
  
  <div id="forgetPasswordBox" style="margin-top:100px ;margin-bottom:75px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" ng-show="forgetPasswordBox">
    <div class="panel panel-info">
      
      <div class="panel-heading"  style="background-color:#009688 !important">
        <div class="panel-title" style='color:white'>Forgot Password </div>
      </div>

      <div class="panel-body" >
        
        <div id="signupalert" style="display:none" class="alert alert-danger">
          <p>Error:</p>
          <span></span>
        </div>
  
        <form id="forgetPasswordForm" class="form-horizontal" role="form">
          
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input id="login-username" type="email" class="form-control" name="email"  placeholder="Email Address" ng-model="email" required  maxlength="50" data-ng-blur="analyzeEmailId(email)" />
          </div>
          <p style="margin-top: -12px; color: red; margin-left: 36px;" data-ng-if="isEmailIdvalid !== ''" class="error-msg">{{isEmailIdvalid}}</p>
    
          <div class="input-group" style="margin-bottom: 25px">
            <div class="col-md-offset-3 col-md-9">
              <a id="btn-signup" class="btn btn-info" ng-click="ForgotPassword()"> Submit </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="resetPasswordBox" style="margin-top:100px;margin-bottom:75px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"  ng-show="resetPasswordBox">
    
    <div class="panel panel-info">
      
      <div class="panel-heading"  style="background-color:#009688 !important">
        <div class="panel-title" style='color:white'>Reset Password</div>
      </div>
      
      <div class="panel-body" >
        
        <div id="resetPasswordError" style="display:none" class="alert alert-danger">
          <p>Error:</p>
          <span></span>
        </div>
        
        <form id="forgetPasswordForm" class="form-horizontal" role="form">
          
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input id="login-password1" type="password" class="form-control" name="newPassword" placeholder="New Password" ng-model="newPassword"   required  maxlength="15" data-ng-blur="analayzePassword(newPassword)" >
          </div>
          <span style="color: red;" ng-bind="errorMessage" >{{errorMessage}}</span>
          <p style="clear:both; color: red; margin-left: 36px;" data-ng-if="isPasswordValid !== ''" class="error-msg">{{isPasswordValid}}</p>
    
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input id="login-password2" type="password" class="form-control" name="confirmPwd" placeholder="Confirm Password" ng-model="confirmPwd"   required  maxlength="15" data-ng-blur="analayzePassword(confirmPwd)" >
          </div>
          
          <span style="color: red;" ng-bind="errorMessage" >{{errorMessage}}</span>
          <p style="clear:both; color: red; margin-left: 36px;" data-ng-if="isPasswordValid !== ''" class="error-msg">{{isPasswordValid}}</p>
    
          <div class="input-group" style="margin-bottom: 25px">
            <!-- Button -->
            <div class="col-md-offset-3 col-md-9">
              <a id="btn-signup" class="btn btn-info" ng-click="ResetPassword()"> Reset Password </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div id="resetPasswordSuccessBox"  style="margin-top:150px ;margin-bottom:100px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" ng-show="resetPasswordSuccessBox">
    <div class="panel panel-info">
      
      <div class="panel-heading"  style="background-color:#009688 !important">
        <div class="panel-title" style='color:white'>Reset Password Success</div>
      </div>

      <div class="panel-body" >
      
        <div id="resetPasswordError" style="display:none" class="alert alert-danger">
          <p>Error:</p>
          <span></span>
        </div>
  
        <div class="input-group" style="margin-bottom: 25px">
          <div class="col-md-offset-3 col-md-9">
            Password Changed Succussfully  
            <a href="#"  style='color:black' ng-click="resetPasswordSuccessBox= !resetPasswordSuccessBox; loginbox= !loginbox"> Click here to login</a> 
          </div>
        </div>
      </div>
    </div>
  </div>

</div>