
<div ng-controller="welcomePageController as welCtl" ng-init="welCtl.init()">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="img/slider/college project.jpg" alt="college project" width="1360" height="700">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <img src="img/slider/customized product asdfhsd.jpg" alt="customized product asdfhsd" width="1360" height="700">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="img/slider/marketung interchanged.jpg" alt="marketung interchanged" width="1360" height="700">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
      <div class="item">
        <img src="img/slider/letterhead.jpg" alt="letterhead" width="1360" height="700">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- portfolio section -->
  <section id="portfolio" class="wrapper wrapper--xlarge">

    <div class="row">
      <div class="sec-title text-center wow animated fadeInDown">
        <h2>OUR PRODUCTS</h2>
      </div>

      <ul class="project-wrapper wow animated fadeInUp">
        <li class="portfolio-item">
          <!--<img src="img/portfolio/business1.jpg" class="img-responsive" alt="">-->

                <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel1" data-slide-to="1"></li>
                        <li data-target="#myCarousel1" data-slide-to="2"></li>
                        <li data-target="#myCarousel1" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="img/portfolio/Business Cards/card 3 done.jpg" alt="Business Cards1" width="460" height="345">
                        </div>

                        <div class="item">
                            <img src="img/portfolio/Business Cards/card3.jpg" alt="Business Cards2" width="460" height="345">
                        </div>

                        <div class="item">
                            <img src="img/portfolio/Business Cards/card 2.jpg" alt="Business Cards3" width="460" height="345">
                        </div>

                        <div class="item">
                            <img src="img/portfolio/Business Cards/card 4 complete .jpg" alt="Business Cards4" width="460" height="345">
                        </div>
                    </div>


                </div>


          <figcaption class="mask text-center">
          <h4>Business Cards</h4>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Start From</a>
          <p>RS. 150/- per 100 Cards</p>
          </figcaption>
        </li>

        <li class="portfolio-item">
          <!--<img src="img/portfolio/LetterHead.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">-->
          <div id="myCarousel_2" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel_2" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel_2" data-slide-to="1"></li>
              <li data-target="#myCarousel_2" data-slide-to="2"></li>
              <li data-target="#myCarousel_2" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="img/portfolio/Letter Heads/letterhead1.jpg" alt="Letter Heads" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Letter Heads/letterhead2.jpg" alt="Letter Heads" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Letter Heads/letterhead3.jpg" alt="Letter Heads" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Letter Heads/letterhead4.jpg" alt="Letter Heads" width="460" height="345">
              </div>
            </div>


          </div>
          <figcaption class="mask">
          <h4>LetterHeads</h4>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Start From</a>
          <p>RS. 350/- min order 5 Pads</p>
          <small><i class="fa fa-star"></i> 100 pages in 1 pad</small>
          </figcaption>
        </li>

        <li class="portfolio-item">
          <!--<img src="img/portfolio/tshirt.png" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">-->
          <div id="myCarousel_3" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel_3" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel_3" data-slide-to="1"></li>
              <li data-target="#myCarousel_3" data-slide-to="2"></li>
              <li data-target="#myCarousel_3" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="img/portfolio/Tshirts/tee sample 2.jpg" alt="T-shirt" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Tshirts/tee sample 3.jpg" alt="T-shirt" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Tshirts/tee shirt 1 .jpg" alt="T-shirt" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Tshirts/tee sample 2.jpg" alt="T-shirt" width="460" height="345">
              </div>
            </div>


          </div>
          <figcaption class="mask">
          <h4>Tshirt</h4>
          <a href="customized-products/t-shirt.html" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Start From</a>
          <p>RS. 385/- per T-Shirt</p>
          </figcaption>
        </li>

        <li class="portfolio-item">
          <!--<img src="img/portfolio/ev.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.">-->
          <div id="myCarousel_4" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel_4" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel_4" data-slide-to="1"></li>
              <li data-target="#myCarousel_4" data-slide-to="2"></li>
              <li data-target="#myCarousel_4" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="img/portfolio/Envelope/envlopedone2.jpg" alt="Business Cards" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Envelope/envelope3.jpg" alt="Business Cards" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Envelope/envelopes2.jpg" alt="Business Cards" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Envelope/envolpedone.jpg" alt="Business Cards" width="460" height="345">
              </div>
            </div>


          </div>
          <figcaption class="mask">
          <h4>Customized Envelope</h4>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>  Start From</a>
          <p>Rs. 8/- on min order of 25 Envelopes.</p>
          </figcaption>
        </li>

        <li class="portfolio-item">
          <!--<img src="img/portfolio/poster.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">-->
          <div id="myCarousel_5" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel_5" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel_5" data-slide-to="1"></li>
              <li data-target="#myCarousel_5" data-slide-to="2"></li>
              <li data-target="#myCarousel_5" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="img/portfolio/Poster/leaf1.jpg" alt="Poster" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Poster/leaf2.jpg" alt="Poster" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Poster/leaf3.jpg" alt="Poster" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Poster/leaf4.jpg" alt="Poster" width="460" height="345">
              </div>
            </div>


          </div>
          <figcaption class="mask">
          <h4>Posters</h4>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Start From</a>
          <p> RS. 50/- min order 5 posters</p>
          </figcaption>
        </li>

        <li class="portfolio-item text-center">
          <!--<img src="img/portfolio/brochure.png" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">-->
          <div id="myCarousel_6" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel_6" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel_6" data-slide-to="1"></li>
              <li data-target="#myCarousel_6" data-slide-to="2"></li>
              <li data-target="#myCarousel_6" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="img/portfolio/Brochures/brochure1.jpg" alt="Business Cards1" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Brochures/BROCHURE2.jpg" alt="Business Cards2" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Brochures/brochuredone.jpg" alt="Business Cards3" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Brochures/brochuredone 3.jpg" alt="Business Cards4" width="460" height="345">
              </div>
            </div>


          </div>
          <figcaption class="mask">
          <h4>Brochures</h4>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Start From</a>
          <p>RS. 450/- per 10 Pcs. Single Fold</p>
          </figcaption>
        </li>

        <li class="portfolio-item text-center">
          <!--<img src="img/portfolio/mug.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">-->
          <div id="myCarousel_7" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel_7" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel_7" data-slide-to="1"></li>
              <li data-target="#myCarousel_7" data-slide-to="2"></li>
              <li data-target="#myCarousel_7" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="img/portfolio/Mugs/mugdone .jpg" alt="Business Cards" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Mugs/mugdone2.jpg" alt="Business Cards" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Mugs/mugdone3.jpg" alt="Business Cards" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/Mugs/mugdone .jpg" alt="Business Cards" width="460" height="345">
              </div>
            </div>


          </div>
          <figcaption class="mask">
          <h4>Mugs</h4>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Start From</a>
          <p>RS. 160/- per Pcs.</p>
          </figcaption>
        </li>

        <li class="portfolio-item">

          <!--<img src="img/portfolio/col2.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">-->
          <div id="myCarousel_8" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel_8" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel_8" data-slide-to="1"></li>
              <li data-target="#myCarousel_8" data-slide-to="2"></li>
              <li data-target="#myCarousel_8" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="img/portfolio/College Project Files/THESISbook1 .jpg" alt="Business Cards" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/College Project Files/THESISbook2.jpg" alt="Business Cards" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/College Project Files/THESISbook1 .jpg" alt="Business Cards" width="460" height="345">
              </div>

              <div class="item">
                <img src="img/portfolio/College Project Files/THESISbook2.jpg" alt="Business Cards" width="460" height="345">
              </div>
            </div>


          </div>
          <figcaption class="mask">
          <h4>College Project Files</h4>
          <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> Start From</a>
          <p>RS. 500/- per 3 Files</p>
          </figcaption>

        </li>




      </ul>

    </div>

  </section>
  <!-- end portfolio section -->
  <!--Our Clients-->
  <div class="container our-clients">
    <div  class="sec-title text-center white wow animated fadeInDown">
      <h2 >Our Clients</h2>
      <div class="row first-row">
        <div class="col-sm-2">
          <img src="img\testimonial\Indian Dental Ass. Logo.png" alt="image1">
          <p> Client 1</p>
        </div>
        <div class="col-sm-2">
          <img src="img\testimonial\Diwan Dental Clinic.png" alt="image1">
          <p> Client 1</p>
        </div>
        <div class="col-sm-2">
          <img src="img\testimonial\Dr. Makrand Herve_logo.png" alt="image1">
          <p> Client 1</p>
        </div>
        <div class="col-sm-2">
          <img src="img\testimonial\Bhopal Dental logo_02.png" alt="image1">
          <p> Client 1</p>
        </div>
        <div class="col-sm-2">
          <img src="img\testimonial\Girnar Dental Clinic logo.png" alt="image1">
          <p> Client 1</p>
        </div>
        <div class="col-sm-2">
          <img src="img\testimonial\kanha Meternity Logo.png" alt="image1">
          <p> Client 1</p>
        </div>
      </div>
      <br />
      <div class="row second-row">
        <div class="col-sm-2">
          <img src="img\testimonial\Maati Ganesh logo.png" alt="image1">
          <p> Client 1</p>
        </div>
        <div class="col-sm-2">
          <img src="img\testimonial\Mr Logo PNG.png" alt="image1">
          <p> Client 1</p>
        </div>
        <div class="col-sm-2">
          <img src="img\testimonial\Naad Logo.png" alt="image1">
          <p> Client 1</p>
        </div>

        <div class="col-sm-2">
          <img src="img\testimonial\Sawaliya logo.png" alt="image1">
          <p> Client 1</p>
        </div>
        <div class="col-sm-2">
          <img src="img\testimonial\Orleans Logo.png" alt="image1">
          <p> Client 1</p>
        </div>
        <div class="col-sm-2">
          <img src="img\testimonial\Care Sonography.png" alt="image1">
          <p> Client 1</p>
        </div>
      </div>
    </div>
  </div>
  <!--End Our-clients-->
  <!-- Testimonial section -->
  <section id="testimonials" class="parallax">
    <div class="overlay">
      <div class="container">
        <div class="row">

          <div class="sec-title text-center white wow animated fadeInDown">
            <h2>Testimonial</h2>
          </div>

          <div id="testimonial" class=" wow animated fadeInUp">
            <div class="testimonial-item text-center">
              <img src="img/shubham.jpg" alt="Our Clients">
              <div class="clearfix">
                <span>Mr. Shubham Choubey </span>
                <p class='text-center'>CEO (Mr. Servicemen)</p>
                <p>Printkaari has been of immense support and help to us since the time we contacted them for getting our printing jobs done. Printkaari is one step ahead of it's contemporaries as they indulge in making our product a better one by giving their inputs as well or the changes we can make with the ordered design. They have also helped us build strategies out of goodwill and they provide by far the best printing quality in our city. </p>
              </div>
            </div>
            <div class="testimonial-item text-center">
              <img src="img/dem.jpg" alt="Our Clients">
              <div class="clearfix">
                <span>Dr. Binyas Jain </span>
                <p class='text-center'>Director(Girnar Dental)</p>
                <p>Printkaari defines all things professional and their services are always ready to serve us on time. Delays are so not their thing which impresses us a lot. No matter what, they make sure our printing jobs are delivered to us on time and at ease. Also, they are very innovative with their designs making them the leading startup in their field in Bhopal.</p>
              </div>
            </div>
            <div class="testimonial-item text-center">
              <img src="img/dr-makarand-hirve.jpg" alt="Our Clients">
              <div class="clearfix">
                <span>Dr. Makarand Hirve </span>
                <p>Printkaari has made my life so easy! They understand my idea of work and provide me apt designs which I approve at the first go. They have created a niche for me and have done excellent branding service for me. They are thorough professionals and are very rigid on providing timely services. The designs they offer are unique and appeal to the eye.  </p>
              </div>
            </div>
            <div class="testimonial-item text-center">
              <img src="img/Maati Ganesh logo.png" alt="Our Clients">
              <div class="clearfix">
                <span>Mr. Srajan Verma</span>
                <p class='text-center'>Maati Ganesh</p>
                <p>Printkaari is a great printing consultancy! Their quality of work is amazing and top-notch. I make sure all my work goes to them as they provide such facilities which nurtures my product without me being there physically. More power to them in the coming future. </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- end Testimonial section -->
  <div id="about"  class="sec-title text-center white wow animated fadeInDown">

    <h2 class="text-center">ABOUT US</h2>


    <div class="message-body">
      <p class="wrapper">
        Printkaari.com deals in providing high quality prints to you where you can be assured with the final product you get along with it's quality-check.
        We strive & thrive at providing customer- satisfaction which is our primary aim. Our Very own manufacturing syestem makes sure we have the command over the print's finishing from start to end.
        Also, it provide us an edge over other printing presses as we have " TOTAL QUALITY CONTROL".
        Moreover our Creative Designing team is an ace-act when it comes to delivering top notch designs as per your desire & vision. So lets enroll together in Creating worls class prints with PRINTKAARI.
      </p>
    </div>

  </div>
</div>